<div [ngClass]="!isMenuCollapsed? 'bg-opacity-75' : 'bg-opacity-0 pointer-events-none'"  class="transition-all duration-500 fixed inset-0 bg-gray-500 z-50"></div>
<header class="header relative z-[51]" (clickOutside)="clickedOutside()">
    <div class="header-container _container">
        <div class="logo-cntainer">
            <a routerLink="/" class="header_logo">
                <img class="logo-img" src="assets/logo.svg"/>
                <span class="logo-text">KnowYourTeacher</span>
            </a>
        </div>
        <div>
            <div class="menu-icon-wrapper" (click)="changeMenuState()">
                <div class="menu-icon">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="header_menu-container">
            <nav class="header_menu">
                <ul class="menu_list">
                    <li class="menu_item">
                        <a routerLink="/about-us" class="menu_link">About Us</a>
                    </li>
                    <!--                    <li class="menu_item">-->
                    <!--                        <a routerLink="/qa" class="menu_link">Q&A</a>-->
                    <!--                    </li>-->
                    <li class="menu_item">
                        <a routerLink="/contact" class="menu_link">Contact</a>
                    </li>
                    <li class="menu_item">
                        <a routerLink="/guides" class="menu_link">Guides</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="auth_links-container">
            @if (isLoggedIn()) {
                <a routerLink="/profile" class="registration-link">{{
                        getEmail()
                    }}</a>
                <a
                        routerLink="/home"
                        (click)="handleLogout()"
                        class="signIn-link flex flex-row fill-dark-blue hover:fill-button_blue"
                >Logout
                    <svg height="30px" viewBox="-6.4 -6.4 76.80 76.80" stroke="#000000"
                         stroke-width="0.00064">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                           stroke-width="0.128"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="Exit_1_">
                                <path d="M52.4501991,28.7678509l-5-4.9990005c-0.3768997-0.3770008-0.9902-0.3770008-1.3671989,0 c-0.3778992,0.3778992-0.3778992,0.9902,0,1.3671989l3.3171997,3.3164005H35.2666016v2h14.1320992l-3.3157005,3.3163986 c-0.3778992,0.377903-0.3778992,0.9902,0,1.3672028c0.1884995,0.1884995,0.4365997,0.2831993,0.6835976,0.2831993 c0.2471008,0,0.4951019-0.0946999,0.6836014-0.2831993l5-5.0010014c0.1817017-0.1816006,0.2831993-0.4277,0.2831993-0.6835995 C52.7333984,29.1946507,52.6319008,28.9495506,52.4501991,28.7678509z"></path>
                                <path d="M40.2666016,39.4524498c-0.5527,0-1,0.4473-1,1v10.7900009c0,1.0429993-0.8310013,2.2099991-1.9433022,2.2099991 h-6.0566998V11.2394505V9.8677502L30.0191994,9.33395L14.0765009,2.56445l-0.2606955-0.112h23.507494 c1.2168007,0,1.9433022,0.9921999,1.9433022,1.9511998v15.0487995c0,0.5527,0.4473,1,1,1c0.5527992,0,1-0.4473,1-1V4.4036498 c0-2.1786997-1.7685013-3.9511998-3.9433022-3.9511998H12.2666006c-0.5215998,0-0.9358997,0.4029-0.9822998,0.9124 L11.2666006,1.35725V1.45245V55.03405l17.1855011,7.3064003l2.8144989,1.2070999v-3.0951004v-5h6.0566998 c2.3584023,0,3.9433022-2.1767998,3.9433022-4.2099991V40.4524498 C41.2666016,39.8997498,40.8194008,39.4524498,40.2666016,39.4524498z M29.2665997,11.2394505v49.2129974l-15.999999-6.7766991 V4.4524498l15.9906988,6.7728004l0.0093002,0.0038996V11.2394505z"></path>
                            </g>
                        </g>
                    </svg>
                </a
                >

            } @else {
                <a routerLink="/register" class="registration-link" (click)="saveCurrentUrl()">Register</a>
                <a routerLink="/login" class="signIn-link" (click)="saveCurrentUrl()">Sign in</a>
            }
        </div>
    </div>
    <div [ngbCollapse]="isMenuCollapsed" class="visible w-full lg:hidden absolute">
        <ul class="flex flex-col w-full bg-background-light">
            <li class="">
                <a routerLink="/about-us"
                   class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 border-button_blue border-solid border-[2px] border-opacity-20 border-x-0 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200">
                    About Us</a>
            </li>
            <li class="">
                <a routerLink="/contact"
                   class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200">
                    Contact</a>
            </li>
            <li class="">
                <a routerLink="/guides"
                   class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 border-button_blue border-solid border-[2px] border-opacity-20 border-x-0 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200">
                    Guides</a>
            </li>
            @if (isLoggedIn()) {
                <li>
                    <a routerLink="/profile"
                       class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200">
                        {{ getEmail() }}</a>
                </li>
                <li>
                    <a
                            routerLink="/home"
                            (click)="handleLogout()"
                            class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 border-button_blue border-solid border-[2px] border-opacity-20 border-x-0 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200"
                    >Logout
                        <svg fill="#398dca" height="30px" viewBox="-6.4 -6.4 76.80 76.80" stroke="#000000"
                             stroke-width="0.00064">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                               stroke="#CCCCCC"
                               stroke-width="0.128"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="Exit_1_">
                                    <path d="M52.4501991,28.7678509l-5-4.9990005c-0.3768997-0.3770008-0.9902-0.3770008-1.3671989,0 c-0.3778992,0.3778992-0.3778992,0.9902,0,1.3671989l3.3171997,3.3164005H35.2666016v2h14.1320992l-3.3157005,3.3163986 c-0.3778992,0.377903-0.3778992,0.9902,0,1.3672028c0.1884995,0.1884995,0.4365997,0.2831993,0.6835976,0.2831993 c0.2471008,0,0.4951019-0.0946999,0.6836014-0.2831993l5-5.0010014c0.1817017-0.1816006,0.2831993-0.4277,0.2831993-0.6835995 C52.7333984,29.1946507,52.6319008,28.9495506,52.4501991,28.7678509z"></path>
                                    <path d="M40.2666016,39.4524498c-0.5527,0-1,0.4473-1,1v10.7900009c0,1.0429993-0.8310013,2.2099991-1.9433022,2.2099991 h-6.0566998V11.2394505V9.8677502L30.0191994,9.33395L14.0765009,2.56445l-0.2606955-0.112h23.507494 c1.2168007,0,1.9433022,0.9921999,1.9433022,1.9511998v15.0487995c0,0.5527,0.4473,1,1,1c0.5527992,0,1-0.4473,1-1V4.4036498 c0-2.1786997-1.7685013-3.9511998-3.9433022-3.9511998H12.2666006c-0.5215998,0-0.9358997,0.4029-0.9822998,0.9124 L11.2666006,1.35725V1.45245V55.03405l17.1855011,7.3064003l2.8144989,1.2070999v-3.0951004v-5h6.0566998 c2.3584023,0,3.9433022-2.1767998,3.9433022-4.2099991V40.4524498 C41.2666016,39.8997498,40.8194008,39.4524498,40.2666016,39.4524498z M29.2665997,11.2394505v49.2129974l-15.999999-6.7766991 V4.4524498l15.9906988,6.7728004l0.0093002,0.0038996V11.2394505z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>

            } @else {
                <li>
                    <a routerLink="/register"
                       class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200"
                    >Register</a
                    >
                </li>
                <li>
                    <a routerLink="/login"
                       class="text-xl text-dark-blue font-bold flex h-12 items-center px-3 border-button_blue border-solid border-[2px] border-opacity-20 border-x-0 hover:bg-background-light-selected hover:bg-opacity-30 transition-all duration-200">Sign
                        in</a>
                </li>

            }
        </ul>
    </div>
</header>

