.header {
  width: 100%;
  left: 0;
  top: 0;
  background-color: #d4f3fd;
}

.header-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}

.header-container .header_logo {
  display: flex;
  align-items: center;
}

.header-container .logo-text {
  font-size: 32px;
  font-family: "Doppio One", sans-serif;
  color: #398dca;
}
/* @media (max-width: 767px) {
    .header-container {
        justify-content: space-between;
    }
} */
@media (max-width: 479px) {
  .header-container .header_logo > img {
    width: 44px;
  }
  .header-container .logo-text {
    font-size: 24px;
  }
}

.header-container .header_logo :hover {
  color: #00b6ef;
}

.header-container .menu_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.header-container .menu_item:not(:last-child) {
  margin: 0 24px 0 0;
}

.header-container .menu_item a {
  text-decoration: none;
  color: #398dca;
  font-size: 22px;
}

/* .header-container .auth_links-container {
    margin-top: 14px;
} */

.header-container .auth_links-container > a {
  text-decoration: none;
  color: #398dca;
  font-size: 24px;
}

.header-container .auth_links-container :hover {
  color: #00b6ef;
}

.header-container .menu_list :hover {
  color: #00b6ef;
}

.header-container .registration-link {
  opacity: 70%;
  margin-right: 40px;
}

.header-container .menu-icon-wrapper {
  display: none;
}

@media (max-width: 930px) {
  .header-container .header_menu-container {
    display: none;
  }

  .header-container .auth_links-container {
    display: none;
  }

  .burger-menu-container {
    position: absolute;
    top: 80px;
    right: 7%;
    display: flex;
    flex-direction: column;
    width: 160px;
    z-index: 50;
  }

  .burger-menu-container .header_menu-container {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #b5eeff;
  }
  .burger-menu-container .header_menu {
    margin: 0;
    width: 100%;
    position: relative;
    display: block;
  }

  .burger-menu-container .header_menu .menu_list {
    padding-left: 0;
    margin-bottom: 0;
  }

  .header-container .menu_item:not(:last-child) {
    margin: 0px;
  }
  .burger-menu-container .menu_item {
    position: relative;
    display: block;
    width: 100%;
    background-color: #b5eeff;
    padding: 7px 30px 7px 10px;
  }

  .burger-menu-container .auth_links-container {
    display: flex;
    flex-direction: column;
  }

  .burger-menu-container .auth_links-container > a {
    text-decoration: none;
    color: #398dca;
    font-size: 22px;
    background-color: #b5eeff;
    padding: 7px 30px 7px 10px;
    opacity: 100%;
    margin: 0px;
  }

  .header-container .menu-icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  .header-container .menu-icon {
    display: block;
    position: relative;
    width: 35px;
    height: 24px;
    cursor: pointer;
  }
  .header-container .menu-icon span,
  .header-container .menu-icon::before,
  .header-container .menu-icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #00b6ef;
  }

  .header-container .menu-icon::before,
  .header-container .menu-icon::after {
    content: "";
  }

  .header-container .menu-icon::before {
    top: 0;
  }

  .header-container .menu-icon::after {
    bottom: 0;
  }

  .header-container .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}

@media (max-width: 479px) {
  .header-container .menu-icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 36px;
    height: 35px;
  }

  .header-container .menu-icon {
    display: block;
    position: relative;
    width: 28px;
    height: 22px;
    cursor: pointer;
  }
  .header-container .menu-icon span,
  .header-container .menu-icon::before,
  .header-container .menu-icon::after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #00b6ef;
  }

  .header-container .menu-icon::before,
  .header-container .menu-icon::after {
    content: "";
  }

  .header-container .menu-icon::before {
    top: 0;
  }

  .header-container .menu-icon::after {
    bottom: 0;
  }

  .header-container .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
