/* ---------CONTENT------------------------------------------------------------- */

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
}

.content-block {
  margin-top: 20px;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
}

.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 0;
}
// ---------------- header container
.header-container .page-header{
  color: #398dca;
  font-weight: 700;
  font-size: 28px;

}


//------------review-teacher-info-----------------
.teacher-info-container {
  margin-top: 25px;
  margin-bottom: -15px;
  display: flex;
  width: 100%;
  height: 22px;
  align-items: center;
}

.teacher-info-container .link-container {
  background-color: white;
  width: 30%;
  padding: 5px 20px 20px 15px;
  color: #398dca;
  border-radius: 10px;
  overflow: hidden;
}

.teacher-info-container .link-container > a {
  color: #398dca;
  font-size: 18px;
  overflow: hidden;
  text-wrap: nowrap;
  font-weight: bold;
}
.teacher-info-container .link-container > a:hover {
  text-decoration: underline;
}

.teacher-info-container .card-horizontal-line {
  margin-top: 5px;
  height: 0.5px;
  width: 90%;
  border-style: solid;
  border-color: #00b7ef3f;
  border-width: 0.5px;
  border-radius: 100%;
}



.main-horizontal-line {
  display: flex;
  width: 100%;
  border-style: solid;
  border-color: #00b7ef3f;
  border-width: 0.5px;
  border-radius: 100%;
  margin: 10px 0;
}


//------------empty search----------------

.review-container .no-search-results-container {
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.review-container .no-search-results-container > span{
  color: #398dca;
  font-size: 17px;
}
.review-container .no-search-results-container > span >a{
  color: #398dca;
  font-weight: 700;
}
.review-container .no-search-results-container > span >a:hover{
  text-decoration: underline;
}
.review-container .no-search-results-container .header {
  font-size: 40px;
  margin-bottom: 30px;
}
.review-container .no-search-results-container {
  display: flex;
  flex-direction: column;
}
.review-container .no-search-results-container {
  display: flex;
  flex-direction: column;
}


.edit-link > i {
  cursor: pointer;
  color: #00b6ef !important;
}

.delete-link > i {
  cursor: pointer;
  color: #e06161 !important;
}

.edit-link > i:hover {
  color: #03eeff !important;
}
.delete-link > i:hover {
  color: #f70000 !important;
}

.action-links-container {
  cursor: pointer;
}




// ------------- FORM ---------------------

.form-container {
  display: flex;
  justify-content: center;
}

.form-container .form-block {
  margin: 2% 0 3% 0;
  width: 430px;
  background: white;
  border: 2px solid #00b6ef;
  border-right: 2px solid #1ccaff;
  border-bottom: 2px solid #1ccaff;
  box-shadow: #01a5d9 10px 10px;
}

@media (max-width: 479px) {
  .form-container .form-block {
    width: 300px;
    margin-top: 8%;
  }
}

.form-block .form-header {
  padding-top: 5%;
  text-align: center;
}

.form-block .form-header > h1 {
  margin-top: 3%;
  font-size: 34px;
}

.form-block .form-header > h3 {
  margin-top: 2%;
  opacity: 40%;
  font-size: 24px;
}

@media (max-width: 479px) {
  .form-block img {
    width: 75px;
  }
  .form-block .form-header > h1 {
    font-size: 24px;
  }

  .form-block .form-header > h3 {
    font-size: 19px;
  }
}
.form-block .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.form-block .form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3%;
}

.form .inputBoxImg {
  opacity: 70%;
  margin-right: 3%;
  margin-left: 3%;
}

.form .input-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebfafe;
  text-align: center;
  width: 72%;
  height: 38px;
  margin-top: 5%;
  border-bottom: 2px solid #00b7ef9c;
}

.form .form-select {
  border: none;
  outline: none;
  background-color: #ebfafe;
  border-left: 1px solid #bfedfb;
  border-radius: 0;
  width: 100%;
  height: 100%;
  color: rgb(120 188 233 / 86%);
  font-size: 18px;
  padding-left: 3%;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2301a5d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.form .selectBoxImg {
  width: 25px;
  opacity: 70%;
  margin-right: 2%;
  margin-left: 3%;
}
.form input {
  width: 100%;
  height: 100%;
  border: none;
  border-left: 1px solid #bfedfb;
  background: transparent;
  outline: none;
  padding-left: 3%;
}

.form input::placeholder {
  color: #8abfe2;
  font-size: 18px;
}

.form .signInBtn {
  width: 50%;
  height: 40px;
  font-size: 24px;
  background-color: #00b6ef;
  border: none;
  outline: none;
  padding-bottom: 1%;
  color: white;
  margin-top: 8%;
  cursor: pointer;
}

.signInBtn:hover {
  background-color: #21c9fc;
}

.form-footer {
  text-align: center;
  padding-bottom: 5%;
}

.bottomRegisterText {
  margin-top: 4%;
  opacity: 60%;
}

.bottomRegisterText > a {
  text-decoration: none;
  color: black;
  font-weight: 730;
}

.bottomRegisterText > a:hover {
  text-decoration: underline;
}

// -----------------------------ERROR HANDLING----------------------------------

.form .error {
  border-bottom: 2px solid #ef0000bd;
}

.form .fulfillmentError {
  margin-top: 10px;
  color: #ef0000;
}
.form .signInBtn:disabled {
  background-color: #baefff;
  cursor: auto;
  // visibility: hidden;
}
.form .errorMessage {
  color: rgba(255, 0, 0, 0.589);
  position: absolute;
  white-space: nowrap;
  margin-right: 15px;
  pointer-events: none;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
}