<app-header/>
<main class="content-container _container">
    <div class="content-block">

        <div class="header-container flex justify-between items-center">
            <span class="page-header">{{ isUserInfoCollapsed ? 'Edit profile information' : 'Profile' }}</span>
            <div class="action-links-container" style="display: flex; flex-direction: row">
                <a class="edit-link" (click)="swap()" style="margin-right: 7px;">
                    <i class="fa-solid fa-pencil fa-xl"></i>
                </a>
            </div>
        </div>

        <div class="main-horizontal-line"></div>

        <div class="w-full my-4">
            <ng-container *ngIf="userInfo$ | async as user" [ngSwitch]="user.userInfoState">
                <div class="visible" #collapse="ngbCollapse" [(ngbCollapse)]="isUserInfoCollapsed">
                    <ng-container *ngSwitchCase="'LOADED'">
                        <div class="flex flex-column w-full gap-4">
                            <app-info-field [fieldName]="'Email'" [fieldValue]="user.userInfo?.email!"/>
                            <app-info-field [fieldName]="'Nickname'" [fieldValue]="user.userInfo?.nickname!"/>
                            <app-info-field [fieldName]="'Field of studies'"
                                            [fieldValue]="user.userInfo?.fieldOfStudies!"/>
                            <app-info-field [fieldName]="'University'" [fieldValue]="user.userInfo?.university?.name!"/>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'LOADING'">
                        <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ERROR'">
                        <app-error></app-error>
                    </ng-container>
                </div>
                <div class="visible" #collapse="ngbCollapse"
                     [ngbCollapse]="isUserUpdateFormCollapsed">
                    <app-user-update-form (hideFormEvent)="swap()" [userInfo]="user.userInfo!"></app-user-update-form>
                </div>
            </ng-container>
        </div>
        <div class="my-2 text-right w-full">
            <span class="text-dark-blue text-xl cursor-pointer text-opacity-50 hover:underline hover:text-opacity-100 transition-all duration-200"
            (click)="togglePasswordUpdateFormCollapseStateChange()">{{isPasswordUpdateFormCollapsed? 'Change password' : 'Cancel password change'}}</span>
        </div>
        <div class="visible" #collapse="ngbCollapse"
             [ngbCollapse]="isPasswordUpdateFormCollapsed">
            <app-user-password-update-form
                    (hideFormEvent)="togglePasswordUpdateFormCollapseStateChange()"></app-user-password-update-form>
        </div>

        <div class="header-container mt-4">
            <span class="page-header">My Reviews</span>
        </div>

        <div class="main-horizontal-line"></div>

        <ng-container *ngIf="userReviews$ | async as state" [ngSwitch]="state.userReviewsState">
            <ng-container *ngSwitchCase="'LOADED'">
                <div class="review-container">
                    @for (review of state.reviewsPage?.content; track review.id; let i = $index) {
                        <div class="teacher-info-container">
                            <div class="link-container">
                                <a routerLink="/teacher/{{ review.teacherId }}">{{ review.teacherName }} {{ review.teacherSurname }}</a>
                                <div class="card-horizontal-line"></div>
                            </div>
                        </div>
                        <app-simple-review [review]="review" [bgColor]="'white'"/>
                    } @empty {
                        <div class="no-search-results-container">
                            <span class="header">Oops... Nothing found :(</span>
                            <span>Seems like You didn't write any reviews yet.</span>

                        </div>
                    }
                </div>
                @if (state.reviewsPage!.numberOfElements > 0) {
                    <app-pagination [currentPageNumber]="state.reviewsPage?.number!"
                                    [totalPages]="state.reviewsPage?.totalPages!"
                                    (loadPageEvent)="loadPage($event)"/>
                }
            </ng-container>

            <ng-container *ngSwitchCase="'LOADING'">
                <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
                    <span class="sr-only">Loading...</span>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'ERROR'">
                <app-error></app-error>
            </ng-container>

        </ng-container>
    </div>
</main>