/* ---------CONTENT------------------------------------------------------------- */

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.content-block {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
//-----------------------------------------------

.review-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
}

.review-container .review {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  //background-color: #ebfafe;
  border-radius: 15px;
}

//-------review top-------
.review .review-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: -5px;
  margin-bottom: 8px;
}

.review .review-top .reviewer-info {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.review .review-top .reviewer-info > div > span {
  color: #398dca;
}

.review .card-vertical-line {
  height: 80%;
  border-style: solid;
  border-color: #00b7ef3f;
  border-width: 0.5px;
  border-radius: 100%;
  margin: 0 10px;
}

.review .card-horizontal-line {
  height: 0.5px;
  width: 90%;
  border-style: solid;
  border-color: #00b7ef3f;
  border-width: 0.5px;
  border-radius: 100%;
}

//-------review bottom-------
.review .review-bottom {
  margin-top: 7px;
}

//-------review bottom info-------

.review .review-bottom-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review .review-bottom-info-container .date-container {
  display: flex;
  align-items: end;
}

.review .review-bottom-info-container .like-dislike-container {
  display: flex;
  min-width: 70px;
  height: 34px;
  justify-content: space-between;
  align-items: end;
}

.review .review-bottom-info-container .like-dislike-container span{
  color: #0e76a8;
}

.review .like-container {
  display: flex;
  flex-direction: row;
}

.review .dislike-container {
  display: flex;
  flex-direction: row;
}

.review .like-container > a {
  display: flex;
  padding-top: 5px;
  margin-left: 5px;
}

.review .dislike-container > a {

  margin: 0 5px
}

@media (max-width: 730px) {
  .review .review-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .review .review-top .reviewer-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
  }
  .review .review-top .reviewer-info > div {
    margin: 2px 0;
  }

  .review .user-review-container .sign-in-link {
    white-space: nowrap;
  }
  .review .card-vertical-line {
    display: none;
  }
}

/* ---------STAR-RATING------------------------------------------------------------- */
ngb-rating {
  color: rgb(255, 196, 0);
  font-size: 30px;
}

.teacher-rating .rating {
  display: flex;
  align-items: flex-end;
  font-size: 25px;
}

.teacher-rating .rating-body {
  position: relative;
}

.teacher-rating .rating-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.teacher-rating .rating-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(255, 196, 0);
}

.teacher-rating .rating-body::before {
  content: '★★★★★';
  display: block;
  color: #b3b3b3;
}

.teacher-rating .rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.teacher-rating .rating-item {
  height: 100%;
  flex: 20%;
  opacity: 0;
}

.teacher-rating .rating-value {
  padding-left: 5px;
  font-size: 75%;
  padding-bottom: 2px;
}
@media (max-width: 479px) {
  .teacher-rating .rating {
    font-size: 15px;
  }
}