services:
  KYT_db2:
    image: postgres:15
    environment:
      POSTGRES_DB: knowYourTeacher_db2
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
    ports:
      - 5433:5432

  
  know_your_teacher_app:
    image: zakharsytoi/know_your_teacher_app:1.76
    ports:
      - 8082:8082
    depends_on:
      - KYT_db2


  know_your_teacher_app_frontend:
    image: zakharsytoi/know_your_teacher_frontend:0.71
    ports:
      - 8077:80
    depends_on:
      - know_your_teacher_app