<app-header></app-header>
<main class="content-container _container">
    <div class="content-block">
        <div class="guides-container">
            <div class="header-container">
                <span class="page-header">Guides</span>
            </div>
            <div class="horizontal-line"></div>
        </div>

        <div class="no-search-results-container">
            <span class="header">Oops... It's empty here for now :(</span>
            <span>Sorry, but KnowYourTeacher is currently under construction, and we're working hard to bring you an amazing experience!</span>
        </div>
    </div>
</main>
