<app-short-header></app-short-header>
<div class="form-container">
    <div class="form-block">
        <div class="form-header">
            <img src="assets/graduation-cap-solid-2.svg" alt="logoImg" />
            <h1>Registration</h1>
            <h3>Create a new account</h3>
        </div>
        <form
            [formGroup]="userData"
            (ngSubmit)="onSubmit()"
            action=""
            class="form">
            <div class="form-content">
                <div
                    class="input-box"
                    [ngClass]="{
                        error: getEmailErrorStatus()
                    }">
                    <svg
                        class="inputBoxImg"
                        width="21"
                        height="23"
                        viewBox="0 0 21 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 11.5C12.0913 11.5 13.6174 10.8942 14.7426 9.81586C15.8679 8.73753 16.5 7.27499 16.5 5.75C16.5 4.22501 15.8679 2.76247 14.7426 1.68414C13.6174 0.605802 12.0913 0 10.5 0C8.9087 0 7.38258 0.605802 6.25736 1.68414C5.13214 2.76247 4.5 4.22501 4.5 5.75C4.5 7.27499 5.13214 8.73753 6.25736 9.81586C7.38258 10.8942 8.9087 11.5 10.5 11.5ZM8.35781 13.6562C3.74063 13.6562 0 17.241 0 21.6658C0 22.4025 0.623438 23 1.39219 23H19.6078C20.3766 23 21 22.4025 21 21.6658C21 17.241 17.2594 13.6562 12.6422 13.6562H8.35781Z"
                            fill="#75D8F6" />
                    </svg>
                    <input
                        type="text"
                        formControlName="email"
                        placeholder="Email"
                        required />
                    @if (getEmailErrorStatus()) {
                        <p class="errorMessage">Not an email</p>
                    }
                </div>
                <div
                    class="input-box"
                    [ngClass]="{
                        error: getNicknameErrorStatus()
                    }">
                    <svg
                        class="inputBoxImg"
                        width="21"
                        height="23"
                        viewBox="0 0 21 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 11.5C12.0913 11.5 13.6174 10.8942 14.7426 9.81586C15.8679 8.73753 16.5 7.27499 16.5 5.75C16.5 4.22501 15.8679 2.76247 14.7426 1.68414C13.6174 0.605802 12.0913 0 10.5 0C8.9087 0 7.38258 0.605802 6.25736 1.68414C5.13214 2.76247 4.5 4.22501 4.5 5.75C4.5 7.27499 5.13214 8.73753 6.25736 9.81586C7.38258 10.8942 8.9087 11.5 10.5 11.5ZM8.35781 13.6562C3.74063 13.6562 0 17.241 0 21.6658C0 22.4025 0.623438 23 1.39219 23H19.6078C20.3766 23 21 22.4025 21 21.6658C21 17.241 17.2594 13.6562 12.6422 13.6562H8.35781Z"
                            fill="#75D8F6" />
                    </svg>
                    <input
                        type="text"
                        formControlName="nickname"
                        placeholder="Nickname"
                        required />
                    @if (getNicknameErrorStatus()) {
                        <p class="errorMessage">6 to 20 characters</p>
                    }
                </div>
                <div class="input-box">
                    <svg
                        class="selectBoxImg"
                        width="21px"
                        height=""
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                            fill="#75D8F6"
                            d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160v8c0 13.3 10.7 24 24 24H456c13.3 0 24-10.7 24-24v-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224H64V420.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512H480c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1V224H384V416H344V224H280V416H232V224H168V416H128V224zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                    </svg>
                    <select formControlName="university" class="form-select">
                        <option>Choose University</option>
                        <option
                            *ngFor="let university of universityList"
                            [value]="university.id">
                            {{ university.name }}
                        </option>
                    </select>
                </div>
                <div
                    class="input-box"
                    [ngClass]="{
                        error: getFieldOfStudiesErrorStatus()
                    }">
                    <svg
                        class="inputBoxImg"
                        width="21px"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512">
                        <path
                            fill="#75D8F6"
                            d="M384 192h-64v128H192v128H0v-25.6h166.4v-128h128v-128H384V192zm-25.6 38.4v128h-128v128H64V512h192V384h128V230.4h-25.6zm25.6 192h-89.6V512H320v-64h64v-25.6zM0 0v384h128V256h128V128h128V0H0z" />
                    </svg>
                    <input
                        type="text"
                        formControlName="fieldOfStudies"
                        placeholder="Field of Studies"
                        required />
                    @if (getFieldOfStudiesErrorStatus()) {
                        <p class="errorMessage">3 to 50 characters</p>
                    }
                </div>
                <div
                    class="input-box"
                    [ngClass]="{
                        error: getPasswordErrorStatus()
                    }">
                    <svg
                        class="inputBoxImg"
                        width="20"
                        height="23"
                        viewBox="0 0 20 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6_33)">
                            <path
                                d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                                fill="#75D8F6" />
                        </g>
                        <defs>
                            <clipPath id="clip0_6_33">
                                <rect width="20" height="23" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <input
                        type="password"
                        formControlName="password"
                        placeholder="Password"
                        required />
                    @if (getPasswordErrorStatus()) {
                        <p class="errorMessage">8 to 30 characters</p>
                    } @else if (
                        !doesPasswordsMathch() &&
                        this.userData.controls['password'].touched
                    ) {
                        <p class="errorMessage">Passwords should match</p>
                    }
                </div>
                <div
                    class="input-box"
                    [ngClass]="{
                        error: getRepeatedPasswordErrorStatus()
                    }">
                    <svg
                        class="inputBoxImg"
                        width="20"
                        height="23"
                        viewBox="0 0 20 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6_33)">
                            <path
                                d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                                fill="#75D8F6" />
                        </g>
                        <defs>
                            <clipPath id="clip0_6_33">
                                <rect width="20" height="23" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <input
                        type="password"
                        formControlName="repeatedPassword"
                        placeholder="Repeat password"
                        required />
                    @if (getRepeatedPasswordErrorStatus()) {
                        <p class="errorMessage">8 to 30 characters</p>
                    }
                </div>
                @if (existingEmailError) {
                    <p class="fulfillmentError">
                        User with such email already exists.
                    </p>
                }
                @if (existingNicknameError) {
                    <p class="fulfillmentError">
                        User with such nickname already exists.
                    </p>
                }
                @if (unknownRegistrationError) {
                    <p class="fulfillmentError">
                        Unrecognized Registration error. <br />
                        Try again later.
                    </p>
                }
                <button
                    [disabled]="!userData.valid || getUniversityErrorStatus()"
                    type="submit"
                    class="signInBtn">
                    Register
                </button>
            </div>
        </form>
        <div class="form-footer">
            <div class="bottomRegisterText">
                <span>Already have an account? </span>
                <a routerLink="/login" href="#">Log in</a>
            </div>
        </div>
    </div>
</div>
