<app-header></app-header>
<main class="content-container _container">
    <div class="content-block">
        <div class="contacts-container">
            <div class="header-container">
                <span class="page-header">Contact Us</span>
            </div>
            <div class="horizontal-line"></div>
            <div class="greeting-container">
                <p>
                    Welcome to KnowYourTeacher!
                    <br />
                    We value your feedback and inquiries. If you have any questions, suggestions, or concerns, please feel free to reach out to us. We are here
                    to assist you in making your experience on our platform seamless and enjoyable.
                </p>
            </div>
            <div class="contact-block-container">
                <div class="contact-block">
                    <span class="contact-header">General Inquiries:</span>
                    <span class="contact-text">
                        For general questions or assistance, please contact our support team at
                        <a href="zakharsytoi@gmail.com">zakharsytoi"&#64;"gmail.com</a>
                        .
                    </span>
                </div>
                <div class="contact-block">
                    <span class="contact-header">Feedback and Suggestions:</span>
                    <span class="contact-text">
                        We encourage you to share your thoughts and suggestions with us. Your feedback helps us improve and enhance our platform. Send your
                        feedback to
                        <a href="zakharsytoi@gmail.com">zakharsytoi"&#64;"gmail.com</a>
                        .
                    </span>
                </div>
                <div class="contact-block">
                    <span class="contact-header">Report an Issue:</span>
                    <span class="contact-text">
                        If you encounter any technical issues or need assistance with the platform, please report it to our technical support team at
                        <a href="zakharsytoi@gmail.com">zakharsytoi"&#64;"gmail.com</a>
                        .
                    </span>
                </div>
                <div class="contact-block">
                    <span class="contact-header">Collaboration and Partnerships:</span>
                    <span class="contact-text">
                        For business inquiries, collaboration opportunities, or partnership proposals, please contact us at
                        <a href="zakharsytoi@gmail.com">zakharsytoi"&#64;"gmail.com</a>
                        .
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
