/* ---------CONTENT------------------------------------------------------------- */

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.content-block {
  margin-top: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

//--------------------------------------------------------
.header-container .page-header {
  color: #398dca;
  font-weight: 700;
  font-size: 28px;

}

.horizontal-line {
  height: 0.5px;
  width: 90%;
  border-style: solid;
  border-color: #00b7ef3f;
  border-width: 0.5px;
  border-radius: 100%;
  margin: 7px 0
}

.contacts-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contacts-container .greeting-container {
  margin-bottom: 10px;
}

.greeting-container p {
  font-size: 17px;
}

.contacts-container .contact-block-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-block-container .contact-block {
  display: flex;
  flex-direction: column;
}

.contact-block .contact-header{
  color: #398dca;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 5px;

}