/* ---------CONTENT------------------------------------------------------------- */

.content-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}

.content-block {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* ---------TEACHER-CARD------------------------------------------------------------- */

.teacher-card {
    display: flex;
    height: 100%;
    width: 90%;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
}

.teacher-card .teacher-card-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.teacher-card .teacher-photo-container {
    height: 100%;
}
.teacher-card .teacher-photo {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin-right: 5px;
}

.teacher-card .teacher-photo > img {
    max-width: 100%;
}

.teacher-card .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//-------------CARD CONTENT TOP-----------------
.teacher-card .card-content-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    min-height: 20px;
}

.card-content-top .card-content-right {
    width: 100%;
    height: 100%;
}

.card-content-right .teacher-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.teacher-card .teacher-info-container > span {
    font-size: 19px;
    color: #398dca;
}

.teacher-card .teacher-university {
    margin-right: 10px;
}

//.teacher-card .teacher-name {
//  margin-right: 10px;
//}

.teacher-card .card-vertical-line {
    height: 80%;
    border-style: solid;
    border-color: #00b7ef3f;
    border-width: 0.5px;
    border-radius: 100%;
    margin: 0 10px;
}

.card-content-right .user-review-container {
    margin: 10px 0;
}

.card-content-right .user-review-container .signInAlertText {
    font-size: 19px;
    color: #398dca;
}

.card-content-right .user-review-container .sign-in-link {
    font-size: 19px;
    color: #398dca;
    font-weight: 600;
}

.card-content-right .user-review-container .sign-in-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

//------------------ REVIEW CONTAINER-------------------
.review-container {
    border-style: solid;
    border-color: #b5eeff;
    border-width: 2px;
    padding: 10px;
    border-radius: 15px;
}

//----------------- REVIEW NOT LOADED---------------------
.review-container .form-top-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-container .form-top-container .subject-input {
    width: 50%;
    height: 30px;
    border: 2px solid #bfedfb;
    border-radius: 5px;
    outline: none;
    padding-left: 3%;
    align-items: center;
}
//----------------- error class for ngClass---------------
.review-container .inputError {
    border: 2px solid #f38282 !important;
}
//--------------------------------------------
.review-container .rating-container {
    display: flex;
    align-items: center;
}
.review-container .rating-container > span {
    font-size: 23px;
    padding-top: 3px;
    margin-left: 5px;
}

.review-container .button-container {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 15px;
}

.review-container .button-container .fulfillmentError {
    margin-right: auto;
    color: #f38282;
}

.submit-button {
    height: 40px;
    width: 160px;
    font-size: 24px;
    background-color: #00b6ef;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 0 15px;
}

.submit-button:disabled {
    background-color: #baefff;
    cursor: auto;
    // visibility: hidden;
}
@media (max-width: 479px) {
    .review-container .form-top-container {
        display: flex;
        flex-direction: column;
    }
    .review-container .form-top-container .subject-input {
        width: 100%;
        margin-bottom: 5px;
    }
}
//-----------------REVIEW LOADED----------------

.review-container .review-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.review-container .review-top .edit-link > i {
    cursor: pointer;
    color: #00b6ef !important;
}
.review-container .review-top .delete-link > i {
    cursor: pointer;
    color: #e06161 !important;
}

.review-container .review-top .edit-link > i:hover {
    color: #03eeff !important;
}
.review-container .review-top .delete-link > i:hover {
    color: #f70000 !important;
}

.review-container .review-top .action-links-container {
    cursor: pointer;
}

.review-container .review-top .review-info-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.review-container .review-top .review-info-container > span {
    color: #398dca;
    font-size: 19px;
}

.review-container .card-horizontal-line {
    height: 0.5px;
    width: 90%;
    border-style: solid;
    border-color: #00b7ef3f;
    border-width: 0.5px;
    border-radius: 100%;
}

@media (max-width: 479px) {
    .review-container .review-top .review-info-container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
    }
    .review-container .review-top .review-info-container > span {
        padding-left: 5px;
    }

    .review-container .review-top .review-info-container ngb-rating {
        color: rgb(255, 196, 0);
        font-size: 24px;
    }
    .review-container .rating-container > span {
        font-size: 20px;
        padding-top: 2px;
        margin-left: 5px;
    }
}
//-------------CARD CONTENT BOTTOM-----------------

.teacher-card .card-content-bottom {
    width: 100%;
}

.teacher-card .card-content-bottom .review-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 930px) {
    .teacher-card .teacher-photo {
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
    }
}

@media (max-width: 730px) {
    //-------------CARD TOP-------------
    .teacher-card .teacher-card-content-container {
        flex-direction: column;
        align-items: center;
    }
    .teacher-card .teacher-photo {
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .teacher-card .card-content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teacher-card .teacher-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20%;
    }
    .teacher-card .card-content-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .teacher-card .user-review-container {
        //TODO here is input
    }

    .teacher-card .teacher-name {
        //margin-top: 5px;
        text-align: center;
    }
    .teacher-card .teacher-university {
        margin: 5px 0;
        text-align: center;
    }

    .teacher-card .card-vertical-line {
        display: none;
    }
}

/* ---------STAR-RATING------------------------------------------------------------- */
//--------------- NGB RATING ----------------------------------------
ngb-rating {
    color: rgb(255, 196, 0);
    font-size: 30px;
}
// -------------- SIMPLE RATING ------------------------------------
.teacher-rating .rating {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
}

.teacher-rating .rating-body {
    position: relative;
}

.teacher-rating .rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.teacher-rating .rating-active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(255, 196, 0);
}

.teacher-rating .rating-body::before {
    content: "★★★★★";
    display: block;
    color: #b3b3b3;
}

.teacher-rating .rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.teacher-rating .rating-item {
    height: 100%;
    flex: 20%;
    opacity: 0;
}

.teacher-rating .rating-value {
    padding-left: 5px;
    font-size: 75%;
    padding-bottom: 2px;
}
