<main class="content-container _container">
    <div class="content-block">
        <div class="teacher-card">
            <div class="teacher-card-content-container">
                <div class="card-content">
                    <div class="card-content-top">
                        <div class="teacher-photo">
                            <img
                                src="https://dummyimage.com/256x256/000000/ff0073"
                                alt="teacherPhoto" />
                        </div>
                        <div class="card-content-right">
                            <div class="teacher-info-container">
                                <span class="teacher-name">
                                    Bieniasz Mikola
                                </span>
                                <div class="card-vertical-line"></div>
                                <span class="teacher-university">
                                    Politechnika Krakowska im. T. Kosciuszki
                                </span>
                                <div class="teacher-rating">
                                    <div class="rating">
                                        <div class="rating-body">
                                            <div class="rating-active"></div>
                                            <div class="rating-items">
                                                <input
                                                    type="radio"
                                                    class="rating-item"
                                                    value="1"
                                                    name="rating" />
                                                <input
                                                    type="radio"
                                                    class="rating-item"
                                                    value="2"
                                                    name="rating" />
                                                <input
                                                    type="radio"
                                                    class="rating-item"
                                                    value="3"
                                                    name="rating" />
                                                <input
                                                    type="radio"
                                                    class="rating-item"
                                                    value="4"
                                                    name="rating" />
                                                <input
                                                    type="radio"
                                                    class="rating-item"
                                                    value="5"
                                                    name="rating" />
                                            </div>
                                        </div>
                                        <div class="rating-value">3.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-horizontal-line"></div>
                            <div class="user-review-container">
                                @if (isLoggedIn()) {
                                    <div class="review-input-container">
                                        here is some input
                                    </div>
                                } @else {
                                    <span class="signInAlertText"
                                        >You need to be signed in to leave
                                        reviews.
                                    </span>
                                    <a class="sign-in-link" routerLink="/login"
                                        >Sign in</a
                                    >
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-content-bottom">
                        <div class="review-container">
                            <div class="review-top">
                                <div class="nickname-container">
                                    <span>Nickname</span>
                                </div>
                                <div class="card-vertical-line"></div>
                                <div class="university-name-container">
                                    <span
                                        >Politechnika Krakowska im. T.
                                        Kosciuszki</span
                                    >
                                </div>
                                <div class="card-vertical-line"></div>
                                <div class="subject-name-container">
                                    <span>My favourite subject</span>
                                </div>
                                <div class="teacher-rating">
                                    <div class="rating">
                                        <div class="rating-body">
                                            <div class="rating-active"></div>
                                            <div class="rating-items">
                                                <input
                                                        type="radio"
                                                        class="rating-item"
                                                        value="1"
                                                        name="rating" />
                                                <input
                                                        type="radio"
                                                        class="rating-item"
                                                        value="2"
                                                        name="rating" />
                                                <input
                                                        type="radio"
                                                        class="rating-item"
                                                        value="3"
                                                        name="rating" />
                                                <input
                                                        type="radio"
                                                        class="rating-item"
                                                        value="4"
                                                        name="rating" />
                                                <input
                                                        type="radio"
                                                        class="rating-item"
                                                        value="5"
                                                        name="rating" />
                                            </div>
                                        </div>
                                        <div class="rating-value">3.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-horizontal-line"></div>
                            <div class="review-bottom">
                                <span
                                    >Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Esse dolorum ea enim
                                    explicabo corporis, omnis veniam harum
                                    atque. Eum perspiciatis, aperiam ut facilis
                                    labore quasi sunt asperiores officiis
                                    possimu s magni autem nihil, totam, ex
                                    veniam. Sapiente dolores, tempora magni,
                                    veritatis reprehenderit ip sa saepe dicta
                                    eos laudantium iste, vel velit
                                    ratione?</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
