<main class="content-container _container">
    <div class="content-block">
        <ng-container
            *ngIf="teacherCardState$ | async as state"
            [ngSwitch]="state.teacherCardState">
            <ng-container *ngSwitchCase="'LOADED'"
                ><div class="teacher-card">
                    <div class="teacher-card-content-container">
                        <div class="card-content">
                            <div class="card-content-top">
                                <div class="teacher-photo">
                                    <img
                                        src="{{state.teacherCardData?.teacherPictureUri}}"
                                        alt="teacherPhoto" />
                                </div>
                                <div class="card-content-right">
                                    <div class="teacher-info-container">
                                        <span class="teacher-name">
                                            {{state.teacherCardData?.name}} {{state.teacherCardData?.surname}}
                                        </span>
                                        <div class="card-vertical-line"></div>
                                        <span class="teacher-university">
                                            {{state.teacherCardData?.universityName}}
                                        </span>
                                        <div class="teacher-rating">
                                            <div class="rating">
                                                <div class="rating-body">
                                                    <div
                                                        class="rating-active"></div>
                                                    <div class="rating-items">
                                                        <input
                                                            type="radio"
                                                            class="rating-item"
                                                            value="1"
                                                            name="rating" />
                                                        <input
                                                            type="radio"
                                                            class="rating-item"
                                                            value="2"
                                                            name="rating" />
                                                        <input
                                                            type="radio"
                                                            class="rating-item"
                                                            value="3"
                                                            name="rating" />
                                                        <input
                                                            type="radio"
                                                            class="rating-item"
                                                            value="4"
                                                            name="rating" />
                                                        <input
                                                            type="radio"
                                                            class="rating-item"
                                                            value="5"
                                                            name="rating" />
                                                    </div>
                                                </div>
                                                <div class="rating-value">
                                                    {{state.teacherCardData?.avgScore}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-horizontal-line"></div>
                                    <div class="user-review-container">
                                        @if (isLoggedIn()) {
                                            <div class="review-input-container">
                                                here is some input
                                            </div>
                                        } @else {
                                            <span class="signInAlertText"
                                                >You need to be signed in to
                                                leave reviews.
                                            </span>
                                            <a
                                                class="sign-in-link"
                                                routerLink="/login"
                                                >Sign in</a
                                            >
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-content-bottom">
                                <app-teacher-reviews></app-teacher-reviews>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'LOADEDING'"> </ng-container>
            <ng-container *ngSwitchCase="'ERROR'"> </ng-container>
        </ng-container>
    </div>
</main>
