<nav aria-label="Page navigation" style="margin-top: 20px; display: flex; justify-content: center">
    <ul class="pagination">
        @if (currentRange.pagesToTheLeft) {
            <li class="page-item" [ngClass]="{ disabled: currentRange.currentPageNumber === 0 }">
                <a class="page-link" (click)="goToPage(0)" onmouseover="this.style.cursor='pointer'" aria-label="Previous">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
        }
        <li class="page-item" [ngClass]="{ disabled: currentRange.currentPageNumber === 0 }">
            <a class="page-link" (click)="goToPage(currentRange.currentPageNumber - 1)" onmouseover="this.style.cursor='pointer'" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (item of currentRange.range; track item) {
            <li
                class="page-item"
                [ngClass]="{
                    disabled: currentRange.currentPageNumber === item
                }"
            >
                <a
                    class="page-link"
                    (click)="goToPage(item)"
                    style="cursor: pointer"
                    [ngStyle]="{ 'background-color': currentRange.currentPageNumber === item ? '#5ad8ff' : '' }"
                >
                    {{ item + 1 }}
                </a>
            </li>
        }
        <li
            class="page-item"
            [ngClass]="{
                disabled: currentRange.currentPageNumber === totalPages - 1
            }"
        >
            <a class="page-link" (click)="goToPage(currentRange.currentPageNumber + 1)" aria-label="Next" onmouseover="this.style.cursor='pointer'">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        @if (currentRange.pagesToTheRight) {
            <li class="page-item">
                <a class="page-link" (click)="goToPage(totalPages - 1)" onmouseover="this.style.cursor='pointer'" aria-label="Previous">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        }
    </ul>
</nav>
