<ng-container *ngIf="reviewsState$ | async as state" [ngSwitch]="state.reviewsState">
    <ng-container *ngSwitchCase="'LOADED'">
        <div class="review-container">
            @for (review of state.reviewsPage?.content; track review.id; let i = $index) {
                <app-simple-review [review]="review"/>
            }
        </div>
        <app-pagination [currentPageNumber]="state.reviewsPage?.number!"
                        [totalPages]="state.reviewsPage?.totalPages!"
                        (loadPageEvent)="loadPage($event)"/>
    </ng-container>
    <ng-container *ngSwitchCase="'LOADING'">
        <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'ERROR'">
        <app-error></app-error>
    </ng-container>
</ng-container>
