<div class="review-container">
    <div class="review">
        <div class="review-top">
            <div class="reviewer-info">
                <div class="nickname-container">
                    <span>Nickname</span>
                </div>
                <div class="card-vertical-line"></div>
                <div class="university-name-container">
                                    <span
                                    >Politechnika Krakowska im. T.
                                        Kosciuszki</span
                                    >
                </div>
                <div class="card-vertical-line"></div>
                <div class="subject-name-container">
                    <span>My favourite subject</span>
                </div>
            </div>
            <div class="rating-in-review">
                <div class="teacher-rating">
                    <div class="rating">
                        <div class="rating-body">
                            <div class="rating-active"></div>
                            <div class="rating-items">
                                <input
                                        type="radio"
                                        class="rating-item"
                                        value="1"
                                        name="rating"/>
                                <input
                                        type="radio"
                                        class="rating-item"
                                        value="2"
                                        name="rating"/>
                                <input
                                        type="radio"
                                        class="rating-item"
                                        value="3"
                                        name="rating"/>
                                <input
                                        type="radio"
                                        class="rating-item"
                                        value="4"
                                        name="rating"/>
                                <input
                                        type="radio"
                                        class="rating-item"
                                        value="5"
                                        name="rating"/>
                            </div>
                        </div>
                        <div class="rating-value">3.5</div>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-horizontal-line"></div>
        <div class="review-bottom">
                                <span
                                >Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Esse dolorum ea enim
                                    explicabo corporis, omnis veniam harum
                                    atque. Eum perspiciatis, aperiam ut facilis
                                    labore quasi sunt asperiores officiis
                                    possimu s magni autem nihil, totam, ex
                                    veniam. Sapiente dolores, tempora magni,
                                    veritatis reprehenderit ip sa saepe dicta
                                    eos laudantium iste, vel velit
                                    ratione?</span
                                >
        </div>
        <div class="like-dislike-container">
            <div class="like-container">
                <i class="fa-regular fa-thumbs-up fa-xl" style="color: #398dca;"></i>
                <i class="fa-solid fa-thumbs-up fa-xl" style="color: #398dca;"></i>
            </div>
            <div class="dislike-container">
                <i class="fa-solid fa-thumbs-down fa-xl" style="color: #398dca;"></i>
                <i class="fa-regular fa-thumbs-down fa-xl" style="color: #398dca;"></i>
            </div>
        </div>
    </div>
</div>
