<app-short-header></app-short-header>
<div class="form-container">
  <div class="form-block">
    <div class="form-header">
      <img src="assets/graduation-cap-solid-2.svg" alt="logoImg" />
      <h1>Log in</h1>
      <h3>Sign in into your account</h3>
    </div>
    <form [formGroup]="userData" (ngSubmit)="onSubmit()" action="" class="form">
      <div class="form-content">
        <div
          class="input-box"
          [ngClass]="{
            error: getEmailErrorStatus()
          }"
        >
          <svg
            class="inputBoxImg"
            width="21"
            height="23"
            viewBox="0 0 21 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.5 11.5C12.0913 11.5 13.6174 10.8942 14.7426 9.81586C15.8679 8.73753 16.5 7.27499 16.5 5.75C16.5 4.22501 15.8679 2.76247 14.7426 1.68414C13.6174 0.605802 12.0913 0 10.5 0C8.9087 0 7.38258 0.605802 6.25736 1.68414C5.13214 2.76247 4.5 4.22501 4.5 5.75C4.5 7.27499 5.13214 8.73753 6.25736 9.81586C7.38258 10.8942 8.9087 11.5 10.5 11.5ZM8.35781 13.6562C3.74063 13.6562 0 17.241 0 21.6658C0 22.4025 0.623438 23 1.39219 23H19.6078C20.3766 23 21 22.4025 21 21.6658C21 17.241 17.2594 13.6562 12.6422 13.6562H8.35781Z"
              fill="#75D8F6"
            />
          </svg>
          <input
            formControlName="email"
            type="text"
            required
            placeholder="Email"
            required
          />
        </div>
        <div
          class="input-box"
          [ngClass]="{
            error: getPasswordErrorStatus()
          }"
        >
          <svg
            class="inputBoxImg"
            width="20"
            height="23"
            viewBox="0 0 20 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_6_33)">
              <path
                d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                fill="#75D8F6"
              />
            </g>
            <defs>
              <clipPath id="clip0_6_33">
                <rect width="20" height="23" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <input
            formControlName="password"
            required
            type="password"
            placeholder="Password"
            required
          />
        </div>
        @if ( getEmailErrorStatus() || getPasswordErrorStatus()) {
        <p class="fulfillmentError">
          Please fulfill all required fields correctly
        </p>
        }
        @if (wrongLoginOrPassword) {
          <p class="fulfillmentError">
            Incorrect login or password
          </p>
          }
        <button [disabled]="!userData.valid" type="submit" class="signInBtn">
          Sign in
        </button>
      </div>
    </form>
    <div class="form-footer">
      <div class="bottomRegisterText">
        <span>Don’t have an account? </span>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
