<div class="welcome-guide-container">
    <div class="welcome-block-container">
        <div class="welcome-block _container">
            <div class="welcome">
                <span class="welcome-header">Welcome to KnowYourTeacher!</span>
                <span class="welcome-subheader">place where every student's voice matters</span>
            </div>
        </div>
    </div>
    <div class="search-block-container">
        <div class="search-block _container">
            <div class="call-to-action-block">
                <div class="search-CTA-text-container">
                    <span class="search-header">Discover Your Educator</span>
                    <span class="search-subheader">
                        Find your teacher and explore insightful reviews from fellow students. Knowledge is power — start here!
                    </span>
                </div>
                <div class="right-down-arrow-container">
                    <img src="/assets/homePage/right-down-arrow.svg" alt="" />
                </div>
            </div>
        </div>
        <app-search-form></app-search-form>
    </div>
    <div class="review-call-conatiner">
        <div class="review-call-block _container">
            <div class="review-call-to-action-block">
                <div class="right-down-arrow-container">
                    <img src="/assets/homePage/left-down-curve-arrow.svg" alt="" />
                </div>
                <div class="reivew-CTA-text-container">
                    <span class="review-header">Share Your Experience</span>
                    <span class="review-subheader">
                        Make a difference!
                        <br />
                        Write your own review and help fellow students make informed choices.
                        <br />
                        Your voice matters in our community.
                    </span>
                </div>
            </div>
            <div class="review-example-img-container">
                <img class="review-submit-circle" src="/assets/homePage/likeCTA/circle.svg" alt="" />
                <img src="/assets/homePage/review-example.png" alt="" class="review-example" />
            </div>
        </div>
    </div>
    <div class="teacher-card-liking-call-container">
        <div class="teacher-card-liking-call-block _container">
            <div class="liking-call-to-action-block">
                <div class="liking-CTA-text-container">
                    <span class="liking-header">Provide Feedback</span>
                    <span class="liking-subheader">
                        Like or dislike this review to let others know what you think.
                        <br />
                        Your feedback shapes the KnowYourTeacher community.
                    </span>
                </div>
            </div>
            <div class="liking-CTA-image-container">
                <div class="right-down-arrow-dotted-container">
                    <img src="/assets/homePage/right-down-arrow-dotted.png" alt="" />
                </div>
                <div class="liking-exapmle-container">
                    <img class="review-image" src="/assets/homePage/likeCTA/review.png" alt="" />
                    <img class="review-like-circle" src="/assets/homePage/likeCTA/circle.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="teacher-card-creation-call-container">
        <div class="teacher-creation _container">
            <div class="teacher-creation-call-to-action-block">
                <div class="leftside">
                    <div class="leftside-top">
                        <div class="teacher-creation-CTA-text-container">
                            <span class="teacher-creation-header">Add a New Teacher</span>
                            <span class="teacher-creation-subheader">
                                Can't find your teacher?
                                <br />
                                the first to contribute! Create a new teacher card and expand our community.
                            </span>
                        </div>
                    </div>
                    <div class="leftside-bottom">
                        <div class="nothingFound-image-container">
                            <img src="/assets/homePage/nothingFound.png" alt="" />
                        </div>
                        <div class="right-arrow-container">
                            <img src="/assets/homePage/right.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="rightside">
                    <div class="card-example-image-container">
                        <img src="/assets/homePage/card-example.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: flex; width: 100%; justify-content: center;" class="before-top-container">
    <div class="horizontal-line"></div>
</div>
