<div class="w-full flex flex-column items-center">
    <ng-container *ngIf="search$ | async as state" [ngSwitch]="state.searchState">
        <ng-container *ngSwitchCase="'LOADED'">
            @for (teacher of state.teachersPage?.content; track teacher.id; let i = $index) {
                <div class="teacher-card">
                    <div class="teacher-card-content-container">
                        <div class="teacher-photo">
                            <img src="{{ teacher.teacherPictureUri }}" alt="teacherPhoto"/>
                        </div>
                        <div class="card-content">
                            <div class="card-content-top">
                                    <span class="teacher-name">
                                        <a routerLink="/teacher/{{ teacher.id }}">
                                            {{ teacher.teacherName + " " + teacher.teacherSurname }}
                                        </a>
                                    </span>
                                <div class="card-vertical-line"></div>
                                <span class="teacher-university">
                                        {{ teacher.universityName }}
                                    </span>
                                <div class="teacher-rating">
                                    <div class="rating">
                                        <div class="rating-body">
                                            <div class="rating-active"></div>
                                            <div class="rating-items">
                                                <input type="radio" class="rating-item" value="1" name="rating"/>
                                                <input type="radio" class="rating-item" value="2" name="rating"/>
                                                <input type="radio" class="rating-item" value="3" name="rating"/>
                                                <input type="radio" class="rating-item" value="4" name="rating"/>
                                                <input type="radio" class="rating-item" value="5" name="rating"/>
                                            </div>
                                        </div>
                                        <div class="rating-value">
                                            {{ teacher.avgScore }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-horizontal-line"></div>
                            <div class="card-content-bottom">
                                <span class="defaultText">Most popular review:</span>
                                <div class="review-container">
                                    <p class="review-text">
                                        {{ teacher.mostPopularReviewText }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            } @empty {
                <div class="no-search-results-container w-[81%]">
                    <span class="header">Oops... Nothing found :(</span>
                    <span>
                            But you can create new teacher card by yourself! Read our small
                            <a routerLink="/guides">guide</a>
                            on how to that rigth.
                        </span>
                    <span>
                            Or move directly to the
                            <a routerLink="/teacher/create">creation page</a>
                            !
                        </span>
                </div>
                <span class=""></span>
            }
        </ng-container>
        <ng-container *ngSwitchCase="'LOADING'">
            <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
                <span class="sr-only">Loading...</span>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'ERROR'">
            <app-error></app-error>
        </ng-container>
    </ng-container>
</div>

