<div class="w-full flex flex-column items-center">
    <ng-container *ngIf="search$ | async as state" [ngSwitch]="state.searchState">
        <ng-container *ngSwitchCase="'LOADED'">
            @for (teacher of state.teachersPage?.content; track teacher.id; let i = $index) {
                <app-teacher-preview [teacher]="teacher" />
            } @empty {
                <div class="no-search-results-container w-[81%]">
                    <span class="header">Oops... Nothing found :(</span>
                    <span>
                            But you can create new teacher card by yourself! Read our small
                            <a routerLink="/guides">guide</a>
                            on how to that rigth.
                        </span>
                    <span>
                            Or move directly to the
                            <a routerLink="/teacher/create">creation page</a>
                            !
                        </span>
                </div>
                <span class=""></span>
            }
            @if (state.teachersPage!.numberOfElements > 0) {
                <app-pagination [currentPageNumber]="state.teachersPage?.number!"
                                [totalPages]="state.teachersPage?.totalPages!"
                                (loadPageEvent)="loadPage($event)"/>
            }
        </ng-container>
        <ng-container *ngSwitchCase="'LOADING'">
            <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
                <span class="sr-only">Loading...</span>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'ERROR'">
            <app-error></app-error>
        </ng-container>
    </ng-container>
</div>

