/* ---------CONTENT------------------------------------------------------------- */

.content-container {
    width: 100%;
    margin-bottom: 15px;
}

.content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-ten-header-text {
    font-size: 40px;
    color: #398dca;
}

@media (max-width: 479px) {
    .top-ten-header-text {
        font-size: 26px;
    }
}
