/* ---------CONTENT------------------------------------------------------------- */

.content-container {
    width: 100%;
    margin-bottom: 15px;
}

.content-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---------TEACHER-CARD------------------------------------------------------------- */

.teacher-card {
    width: 90%;
    padding: 15px 15px 15px 10px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
}
.teacher-card .teacher-card-content-container {
    display: flex;
    flex-direction: row;
}
.teacher-card .teacher-photo {
    min-width: 110px;
    min-height: 110px;
    max-width: 130px;
    max-height: 130px;
    margin-right: 10px;
}
.teacher-card .teacher-photo > img {
    max-width: 100%;
}

.teacher-card .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teacher-card .card-content-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    min-height: 20px;
}

.teacher-card .card-content-bottom {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.teacher-card .card-content-bottom .defaultText {
    white-space: nowrap;
    opacity: 30%;
    font-size: 14px;
}

.teacher-card .card-content-bottom .review-container {
    margin-top: 5px;
}

.teacher-card .teacher-university {
    margin: 0 10px;
}

.teacher-card .teacher-name {
    margin-right: 10px;
}

.teacher-card .card-vertical-line {
    height: 80%;
    border-style: solid;
    border-color: #00b7ef3f;
    border-width: 0.5px;
    border-radius: 100%;
}

.teacher-card .card-horizontal-line {
    height: 0.5px;
    width: 90%;
    border-style: solid;
    border-color: #00b7ef3f;
    border-width: 0.5px;
    border-radius: 100%;
}

.teacher-card .card-content-top > span {
    color: #398dca;
}

@media (max-width: 930px) {
    .teacher-card .teacher-photo {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
    }
}

@media (max-width: 730px) {
    .teacher-card .teacher-card-content-container {
        flex-direction: column;
        align-items: center;
    }
    .teacher-card .teacher-photo {
        min-width: 110x;
        min-height: 110px;
        max-width: 130px;
        max-height: 130px;
    }
    .teacher-card .card-content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teacher-card .teacher-name {
        margin-top: 5px;
        text-align: center;
    }
    .teacher-card .teacher-university {
        margin: 5px 10px;
        text-align: center;
    }

    .teacher-card .card-vertical-line {
        display: none;
    }
}
/* ---------STAR-RATING------------------------------------------------------------- */

.teacher-rating .rating {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
}

.teacher-rating .rating-body {
    position: relative;
}

.teacher-rating .rating-active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.teacher-rating .rating-active::before{
    content: "★★★★★";
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:rgb(255, 196, 0);
}

.teacher-rating .rating-body::before {
    content: "★★★★★";
    display: block;
    color:#b3b3b3;
}

.teacher-rating .rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.teacher-rating .rating-item{
    height: 100%;
    flex: 20%;
    opacity: 0;
}

.teacher-rating .rating-value {
    padding-left: 5px;
    font-size: 75%;
    padding-bottom: 2px;
}