<div class="content-container _container">
    <div class="content-block">
        <div style="display: flex; width: 100%; padding: 15px" class="top-teachers-header-container">
            <span class="top-ten-header-text">Our Top 10 most popular teachers:</span>
        </div>
        <ng-container *ngIf="topTeachers$ | async as state" [ngSwitch]="state.state">
            <ng-container *ngSwitchCase="'LOADED'">
                @for (teacher of state.teachers; track teacher.id; let i = $index) {
                    <app-teacher-preview [teacher]="teacher" />
                } @empty {
                    <div class="no-search-results-container w-[81%]">
                        <span class="header">Oops... Nothing found :(</span>
                        <span>
                            But you can create new teacher card by yourself! Read our small
                            <a routerLink="/guides">guide</a>
                            on how to that rigth.
                        </span>
                        <span>
                            Or move directly to the
                            <a routerLink="/teacher/create">creation page</a>
                            !
                        </span>
                    </div>
                    <span class=""></span>
                }
            </ng-container>
            <ng-container *ngSwitchCase="'LOADING'">
                <div class="spinner-border" role="status" style="margin-top: 25%; color: #01a5d9ff">
                    <span class="sr-only">Loading...</span>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ERROR'">
                <app-error></app-error>
            </ng-container>
        </ng-container>
    </div>
</div>
