<app-header></app-header>
<main class="content-container _container">
    <div class="content-block">
        <div class="header-container">
            <span class="page-header">About us</span>
        </div>
        <div class="horizontal-line"></div>
        <div class="block-container">
            <div class="block">
                <div class="image-container">
                    <img src="assets/AboutUsPage/team.png" alt=""/>
                </div>
                <div class="text-container">
                    <span class="paragraph-header">Unveiling the Vision Behind KnowYourTeacher</span>
                    <p class="text">
                        Welcome to KnowYourTeacher, the ultimate platform dedicated to fostering transparency and
                        collaboration in the realm of education. Our
                        mission is to empower students by providing a space where they can share genuine reviews and
                        insights about their teachers, facilitating a
                        community-driven approach to learning. At KnowYourTeacher, we believe that informed decisions
                        lead to better educational experiences, and
                        our platform strives to be the guiding light for students navigating the academic landscape.
                    </p>
                </div>
            </div>
            <div class="block __inverse">
                <div class="text-container __right">
                    <span class="paragraph-header __right">Nurturing a Culture of Open Communication</span>
                    <p class="text">
                        Founded on the principles of openness and honesty, KnowYourTeacher was born out of a desire to
                        bridge the gap between students and
                        educators. We understand that every student-teacher relationship is unique, and our platform
                        serves as a conduit for authentic experiences
                        to be shared. Whether it's praising a teacher's inspirational teaching style or offering
                        constructive feedback, KnowYourTeacher is the place
                        to celebrate the strengths and address the areas for improvement in a constructive and
                        respectful manner.
                    </p>
                </div>
                <div class="image-container">
                    <img src="assets/AboutUsPage/phone.png" alt=""/>
                </div>
            </div>
            <div class="block">
                <div class="image-container">
                    <img src="assets/AboutUsPage/classroom.png" alt=""/>
                </div>
                <div class="text-container">
                    <span class="paragraph-header">Shaping the Future of Education Together</span>
                    <p class="text">
                        KnowYourTeacher is more than just a review platform; it's a commitment to the continuous
                        improvement of education. We advocate for the
                        significance of teacher-student dynamics and believe that through shared experiences, we can
                        collectively elevate the quality of education.
                        Our commitment extends beyond reviews; it's about creating a positive and constructive dialogue
                        that influences positive change within
                        educational institutions.
                    </p>
                </div>
            </div>
            <div class="block __inverse">
                <div class="text-container __right">
                    <span class="paragraph-header __right">Empowering Students, Transforming Education</span>
                    <p class="text">
                        Become a part of the KnowYourTeacher movement and contribute to the collective wisdom that
                        empowers students and transforms education. By
                        sharing your experiences, you are not only helping future students make informed decisions but
                        also playing a crucial role in shaping the
                        future of education. Join us in creating a community where feedback is valued, learning is
                        enhanced, and the bond between students and
                        teachers is strengthened.
                    </p>
                </div>
                <div class="image-container">
                    <img src="assets/AboutUsPage/circle.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</main>
