/* ---------CONTENT------------------------------------------------------------- */

.content-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}

.content-block {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.submitBtn-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.submitBtn {
    
    background-color: #00b6ef;
    color: white;
    font-size: 18px;
    padding: 8px 100px;
}

//---------------TOP TITLE----------------------------

.content-block .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.content-block .card-horizontal-line {
    height: 0.5px;
    width: 90%;
    border-style: solid;
    border-color: #00b7ef3f;
    border-width: 0.5px;
    border-radius: 100%;
}
.content-block .top-title-container {
    display: flex;
    width: 80%;
    margin: 20px 0 10px 0;
}

.content-block .top-title-container .top-title {
    font-size: 30px;
    color: #398dca;
}

//-------------FORM----------------------

.content-block .form {
    width: 100%;
    margin: 15px 0;
}
.content-block .form .form-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

//---------------UPLOAD CONTAINER-----------------

.form-content-container .picture-upload-contatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content-container .picture-upload-contatiner .img-preview {
    width: 180px;
    height: 200px;
}

.picture-upload-contatiner .img-placeholder-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.img-placeholder-container .img-placeholder {
}

.picture-upload-contatiner .upload-button-container {
}

.upload-button-container .upload-img {
    pointer-events: none;
}

.picture-upload-contatiner .upload-button {
    margin: 10px 0;
    background-color: #00b6ef;
    color: white;
    font-size: 18px;
    padding: 8px 25px;
}

//----------------TEACHER INFO CONTAINER------------

.form .teacher-info-input-container {
    margin-right: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.teacher-info-input-container .iput-box{

}

input {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  border-radius: 10px;
  outline: none;
  padding-left: 3%;
}
input::placeholder {
  color: #8abfe2;
  font-size: 18px;
}

.form .form-select {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: rgb(120 188 233 / 86%);
  font-size: 18px;
  padding-left: 3%;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2301a5d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form .input-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebfafe;
  text-align: center;
  width: 100%;
  height: 38px;
  margin-top: 5%;
  
}
.form .input-box::after{
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  right: 6px; 
  bottom: -1px;
  border-bottom: 2px solid #00b7ef9c;
  pointer-events: none;
}

@media(max-width:730px){
  .content-block .form .form-content-container{
    flex-direction: column;
    align-items: center;
  }

  .form .teacher-info-input-container {
    margin-right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  .form .input-box {
    width: 100%;
  }
}
//------------------ERROR HANDLING------------
.form .error::after {
  border-bottom: 2px solid #ef0000bd;
}

.form .submitBtn:disabled {
  background-color: #baefff;
  cursor: auto;
  // visibility: hidden;
}