<app-header></app-header>
<main class="content-container _container">
    <div class="content-block">
        <div class="top-title-container">
            <span class="top-title">Teacher card creation</span>
        </div>
        <div class="card-horizontal-line"></div>
        <form class="form" (ngSubmit)="onSubmit()">
            <div class="form-content-container">
                <div class="picture-upload-contatiner">
                    <div class="img-preview">
                        @if (imagePreview) {
                            <img class="responsive-img h200" style="border-radius: 10px;" [src]="imagePreview" *ngIf="imagePreview" alt="" />
                        } @else {
                            <div class="img-placeholder-container">
                                <img class="img-placeholder" src="assets/manIcon.svg" alt="" />
                            </div>
                        }
                    </div>
                    <input type="file" #input (change)="onFileUpload($event)" style="display: none" />
                    <div class="upload-button-container">
<!--                        <i class="upload-img fa-solid fa-upload fa-lg" style="color: #ffffff"></i>-->
                        <button type="button" class="upload-button" (click)="triggerUpload()">
                            <i class="upload-img fa-solid fa-upload fa-lg" style="color: #ffffff"></i>
                            Upload photo</button>
                    </div>
                </div>
                <div class="teacher-info-input-container">
                    <div class="input-box">
                        <input type="text" placeholder="Teacher name" required />
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Teacher surname" required />
                    </div>
                    <div class="input-box">
                        <select formControlName="university" class="form-select">
                            <option>University</option>
                            <option *ngFor="let university of universityList" [value]="university.id">
                                {{ university.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="submitBtn" type="submit">Submit</button>
        </form>
    </div>
</main>
