<footer>
    <div class="footer _container">
        <div class="privacy-container">
            <div class="privacy">
                <span class="privacy-text">
                    Your <a href="#">privacy</a> is important for us
                </span>
            </div>
        </div>
        <div class="footer-vertical-line"></div>
        <div class="social-media-container">
            <div class="social">
                <a
                    class="social__icon git"
                    href="https://github.com/ZakharSytoi"
                    target="_blank"
                >
                    <i class="fab fa-github"> </i>
                </a>
                <a
                    class="social__icon linkedin"
                    href="https://www.linkedin.com/in/zakhar-sytoi-63368a270/"
                    target="_blank"
                >
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </div>
        </div>
        <div class="footer-vertical-line"></div>
        <div class="contact-container">
            <div class="contact">
                <span class="contact-text">
                    Contact:
                    <a href="mailto:your-email@example.com"
                        >zakharsytoi&#64;gmail.com</a
                    >
                </span>
            </div>
        </div>
    </div>
    <div class="legal _container">
        <div class="footer-horizontal-line"></div>
        <div class="copyright">
            <p class="copyrigth-text">
                © ZakharSytoiFutureBigCompany 2023. All rights
                reserved. Unauthorized use and/or duplication of
                this material without express and written permission
                from this site’s author and/or owner is strictly
                prohibited. Excerpts and links may be used, provided
                that full and clear credit is given to
                ZakharSytoiFutureBigCompany with appropriate and
                specific direction to the original content.
            </p>
        </div>
    </div>
</footer>
