 .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form .inputBoxImg {
  opacity: 70%;
  margin-right: 3%;
  margin-left: 3%;
}

.form .input-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  width: 72%;
  height: 38px;
  margin-top: 3%;
  border-bottom: 2px solid #00b7ef9c;
  border-top-left-radius: 10px;
}

 @media (max-width: 640px) {
   .form .input-box {
     width: 100%;
     margin-top: 20px;
   }
 }

.form .form-select {
  border: none;
  outline: none;
  background-color: #ffffff;
  border-left: 1px solid #bfedfb;
  border-radius: 0;
  width: 100%;
  height: 100%;
  color: rgb(120 188 233 / 86%);
  font-size: 18px;
  padding-left: 3%;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2301a5d9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.form .selectBoxImg {
  width: 25px;
  opacity: 70%;
  margin-right: 2%;
  margin-left: 3%;
}
.form input {
  width: 100%;
  height: 100%;
  border: none;
  border-left: 1px solid #bfedfb;
  background: transparent;
  outline: none;
  padding-left: 3%;
}

.form input::placeholder {
  color: #8abfe2;
  font-size: 18px;
}

.signInBtn {
  width: 100%;
  height: 40px;
  font-size: 24px;
  background-color: #00b6ef;
  border: none;
  outline: none;
  padding-bottom: 1%;
  color: white;
  margin-top: 8%;
  cursor: pointer;
}

 @media (max-width: 479px) {
   .signInBtn {
     width: 80%;
   }
 }



.signInBtn:hover {
  background-color: #21c9fc;
}

.cancelBtn{
  background-color: #9b0014;
}

.cancelBtn:hover {
  background-color: #e7001a;
}

.form-footer {
  text-align: center;
  padding-bottom: 5%;
}

.bottomRegisterText {
  margin-top: 4%;
  opacity: 60%;
}

.bottomRegisterText > a {
  text-decoration: none;
  color: black;
  font-weight: 730;
}

.bottomRegisterText > a:hover {
  text-decoration: underline;
}

// -----------------------------ERROR HANDLING----------------------------------

.form .error {
  border-bottom: 2px solid #ef0000bd;
}

.form .fulfillmentError {
  margin-top: 10px;
  color: #ef0000;
}

 .form .updateSuccessful {
   margin-top: 10px;
   color: #00f60b;
   font-size: 18px;
 }
.form .signInBtn:disabled {
  background-color: #baefff;
  cursor: auto;
  // visibility: hidden;
}
.form .errorMessage {
  color: rgba(255, 0, 0, 0.589);
  position: absolute;
  white-space: nowrap;
  margin-right: 15px;
  pointer-events: none;
  text-align: right;
  width: 100%;
  margin-bottom: 0;
}