<div class="search-from-container _container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
        <div class="form-block">
            <div class="input-box __nameBox">
                <input
                        type="text"
                        formControlName="teacherName"
                        placeholder="Teacher name"
                        required
                />
            </div>
            <div class="input-box __subjectBox">
                <input type="text"
                       formControlName="subject"
                       placeholder="Subject"
                       required />
            </div>
            <div class="input-box __uniBox">
                <select formControlName="university" class="form-select">
                    <option>University</option>
                    <option *ngFor="let university of universityList" [value]="university.id">
                        {{ university.name }}
                    </option>
                </select>
            </div>
            <button type="submit" class="find-Btn">Find!</button>
        </div>
    </form>
    <div class="main-horizontal-line"></div>
</div>