<div class="search-from-container _container">
    <form action="" class="search-form">
        <div class="form-block">
            <div class="input-box __nameBox">
                <input
                        type="text"
                        placeholder="Teacher name"
                        required
                />
            </div>
            <div class="input-box __subjectBox">
                <input type="text" placeholder="Subject" required />
            </div>
            <div class="input-box __uniBox">
                <select class="form-select">
                    <option selected>University</option>
                    <option value="1">University 1</option>
                    <option value="2">University 1</option>
                    <option value="3">University 1</option>
                </select>
            </div>
            <button type="submit" class="find-Btn">Find!</button>
        </div>
    </form>
    <div class="main-horizontal-line"></div>
</div>