<div class="header-container flex justify-between items-center">
    <span class="page-header">Update password</span>
    <div class="action-links-container" style="display: flex; flex-direction: row">
    </div>
</div>
<div class="main-horizontal-line"></div>
<form [formGroup]="userData" (ngSubmit)="onSubmit()" class="form">
    <div class="form-content gap-4">
        <div
                class="input-box"
                [ngClass]="{
                        error: getCurrentPasswordErrorStatus()
                    }"
        >
            <svg class="inputBoxImg" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_33)">
                    <path
                            d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                            fill="#75D8F6"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_6_33">
                        <rect width="20" height="23" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <app-hovering-input-label [show]="!!userData.controls['currentPassword'].value" [labelText]="'Current password'"/>
            <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current password" required />
            @if (getCurrentPasswordErrorStatus()) {
                <p class="errorMessage">8 to 30 characters</p>
            }
        </div>

        <div
                class="input-box"
                [ngClass]="{
                        error: getNewPasswordErrorStatus() || getRepeatedPasswordErrorStatus()
                    }"
        >
            <svg class="inputBoxImg" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_33)">
                    <path
                            d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                            fill="#75D8F6"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_6_33">
                        <rect width="20" height="23" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <app-hovering-input-label [show]="!!userData.controls['newPassword'].value" [labelText]="'New password'"/>
            <input type="password" formControlName="newPassword" placeholder="New Password" required />
            @if (getNewPasswordErrorStatus()) {
                <p class="errorMessage">8 to 30 characters</p>
            } @else if (!doesPasswordsMatch() && this.userData.controls["newPassword"].touched) {
                <p class="errorMessage">Passwords should match</p>
            }
        </div>

        <div
                class="input-box"
                [ngClass]="{
                        error: getRepeatedPasswordErrorStatus()
                    }"
        >
            <svg class="inputBoxImg" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_33)">
                    <path
                            d="M6.42857 6.46875V8.625H13.5714V6.46875C13.5714 4.4832 11.9732 2.875 10 2.875C8.02679 2.875 6.42857 4.4832 6.42857 6.46875ZM3.57143 8.625V6.46875C3.57143 2.89746 6.45089 0 10 0C13.5491 0 16.4286 2.89746 16.4286 6.46875V8.625H17.1429C18.7188 8.625 20 9.91426 20 11.5V20.125C20 21.7107 18.7188 23 17.1429 23H2.85714C1.28125 23 0 21.7107 0 20.125V11.5C0 9.91426 1.28125 8.625 2.85714 8.625H3.57143Z"
                            fill="#75D8F6"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_6_33">
                        <rect width="20" height="23" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <app-hovering-input-label [show]="!!userData.controls['repeatedPassword'].value" [labelText]="'Repeat password'"/>
            <input type="password" formControlName="repeatedPassword" placeholder="Repeat password" required />
        </div>
        @if (passwordMismatchError) {
            <p class="fulfillmentError">
                Incorrect password
            </p>
        }
        @if (unknownPasswordUpdateError) {
            <p class="fulfillmentError">
                Unrecognized password update error.
                <br />
                Try again later.
            </p>
        }
        @if (successfulUpdated) {
            <p class="updateSuccessful">
                Profile updated successfully!
            </p>
        }

        <div class="flex flex-col w-full items-center gap-2 md:flex-row-reverse md:gap-4 sm:mx-auto sm:w-[60%]">
            <button [disabled]="!userData.valid" type="submit" class="signInBtn">Update password</button>
            <button class="signInBtn cancelBtn" (click)="hideFormEvent.emit()" type="button">Cancel update</button>
        </div>
    </div>
</form>
